
<div class="container">
  <div class="row">
    <div class="card">
    <div class="comment clearfix">
    <div class="comment_content">
      <ul class="list-group list-group-flush">
        <li class="list-group-item comment_name"><%= comment.user_id %> 
        <span class="comment_time"> <%= time_ago_in_words(comment.created_at) %> ago</span> 
        </li>
        <li class="list-group-item comment_body"><%= comment.body %></li>
      </ul>
    </div>
    </div>
    
    
      <% if current_user.id == comment.user_id %>
          <p><%= link_to 'Delete', [comment.post, comment],
                          method: :delete,
                          class: "post-button",
                          data: { confirm: 'Are you sure?' } %>
          </p>
      <% end %>

    </div>
  </div>
</div>