<div class="container">
    <div class="row">
        <%= form_for([@post, @post.comments.build]) do |f| %>
            

            
            <p>
                <%= f.text_area :body, class: "form-control" %>
            </p>
            <br>
            <p>
                <%= f.submit 'Comment', class: "btn btn-primary" %>
            </p>
        <% end %>
    </div>
</div>