<% provide(:page_title, '- Home') %>

<div class= "jumbotron-fluid home-callout">
  <div class="container">
      <h1>Welcome to The Test Website</h1>
      <div class="logo">
        <%= image_tag(" ", :alt => "website logo") %>
      </div>
  </div>
</div>


  <div class="container">
    <div class="row">
      <%= link_to "Users", users_path, class: "btn btn-primary" if user_signed_in? %>
   
    </div>
  </div>