<% provide(:page_title, '- Adrain Sucks') %>

<div class= "jumbotron-fluid">
  <div class="container">
      <h1>Welcome to Destrux Website</h1>
      <div class="logo">
        <%= image_tag("speedwagon3.png", :alt => "website logo") %>
      </div>
  </div>
</div>


  <div class="container">
    <div class="row">
      <%= link_to "Users", users_path, class: "btn btn-primary" if user_signed_in? %>
   
    </div>
  </div>