/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.home-callout {
    //Gradient provided by uigradients.com
    background: #bdc3c7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #bdc3c7 , #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #bdc3c7 , #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    color: blue;

}        

body {
    background-image:url("lines.jpg");
}


.nav-link {
    color: #9d9d9d;
    &:hover {
        color: white;
    }
}

.navbar-brand {
    color: #222222;
}

.navbar-dark .navbar-nav .nav-link {
    color: #9d9d9d;
    &:hover {
        color: white;
    }
}

.dropdown-menu {
    background-color: #333;
    text-align: center;
}

.dropdown-item {
    color: #9d9d9d;
}

.dropdown-divider {
    background-color: #9d9d9d;
}


.navbar {
  border-bottom: 1px solid black;
  background-color: #151515;
}

h6 {
    color: white;
}

.alert {
 text-align: center;
 position: absolute;
 background: rgba(255, 255, 255, 0.3);
 border-color: rgba(255, 255, 255, 0.5);
}

.flash-container {
    position: absolute;
    float: right;
}

.comment_time {
    font-size: 10px;
    font-style: italic; 
    
}

.bar {
    padding: 0px;
}

img {
    width: 10%;
    height: auto;
}

.card {
    padding: 0;
    border: 0;
}

.card-header {
    background-color: #000000;
    color: white;
}

.posts-header {
    text-align: left;
}

.posts-card {
    margin-top: 20px;
    padding: 0;
    border: 0;
}

.card-block {
    padding: 0px;
    border-radius: 0px;
}

.postcard-body .postshow {
    border-radius: 0px !important;
    background-color: #151515;
    border-color: #333;
}

.login-header {
    text-align: center;
}

.login-block {
    text-align: center;
}

.login-card {
    text-align: center;
    border-radius: 0px;
}

.navbar-nav .nav-link {
    display: inline-block;

}

.signup {
    padding-right: 10px;
}

.postshow {
    border-radius: 0px !important;
    background-color: #070707;
    border-color: #333;
    color: #a5a5a5;
}