.profile-banner {
  height: 500px;

}

.background-show-img {
  background-size: cover;
  height: 100%;
  width: 100%;
}

.temp-background {
  height: 100%;
  width: 100%;
}

.avatar-show-img {
  width: 150px;
  height: 150px;
  border-radius: 20%;
  border: 5px solid white;
  vertical-align: middle;
  margin-top: -70px;
}

.avatar-block {
  background-color: #090909 !important;
  color: #a5a5a5 ;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


// For User Index Page styles
.user-index-avatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

.index-usernames {
  float: left;
}

.card.grey-bg {
  background-color: #D3D3D3;
}

.plan-tag {
  display: inline-block !important;
}


.edit-container {
  color: #9d9d9d;
}
