.avatar-show-img {
  width: 128px;
  height: 128px;
}

.card.profile-description {
  background-color: #151515;
}

.profile-page {
  margin-top: 20px;
}

// For User Index Page styles
.user-index-avatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

.index-usernames {
  float: left;
}

.card.grey-bg {
  background-color: #D3D3D3;
}